* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    border: 1px solid black;
}

.row {
    display: flex;
}

.card {
    margin: 5px;
    width: 128px;
    height: 128px;
}

/* to keep the pixel art look */
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}