* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    border: 1px solid black;
}

.row {
    display: flex;
}

.card {
    margin: 5px;
    width: 128px;
    height: 128px;
    animation-duration: 0.5s; 
}

.flip {
    animation-name: flip;
    animation-duration: 0.2s;
}

.reverse-flip {
    animation-name: reverse-flip;
    animation-duration: 0.2s;
}

@keyframes flip {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes reverse-flip {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

/* to keep the pixel art look */
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}